!!!
%html
  %head
    %meta{charset: "utf-8"}
    %title
      Ubertime public transportation
    %link{rel: "stylesheet", href: "style.css"}

%body
  #upt-app
    %header
      %h1
        Public transportation in
        %b ubertime.
      #map-canvas-wrapper
        #map-canvas

        %label{for: "location"}
          Location
        %input{type: "text", id: "location", name: "location", value: '37.77099636575902,-122.41923032861331',
          placeholder: 'lat,long'}
        %label{for: 'radius'}
          Radius (in km)
        %input{type: "text", id: "radius", name: "radius", value: '0.5',
          placeholder: '0.5'}
        %input{type: "button", id: "geolocate", name: "geolocate", value: "Use browser location"}
    %section{id: 'main'}
      %ol{id: 'stop-list'}

  %script{src: "lib/jquery-2.1.0.js"}
  %script{src: "lib/underscore.js"}
  %script{src: "lib/backbone.js"}
  %script{src: "lib/backbone.relational.js"}
  %script{src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyAVasPtrNdDgoDGfhfVGH4IbR4oxHFTBwk&sensor=true",
    type: "text/javascript"}
  %script{src: "uber-time.js"}

  %script{type: "text/template", id: "stop-template"}
    .clickable
      <%= title %>, distance: <%= distance %> km
      %em
        (by <%= agency %>)
    %ul.departures
      %li.fetchingDepartures
        %em Is downloading the departures....
      %li.noDepartures
        %em No departures for this stop.

  %script{type: "text/template", id: "departure-template"}
    <%= routeTitle %>:
    <% colorClass = 'heapsOfTime' %>
    <% if (window.util.minDiff(epochTime) < 10) { colorClass = 'mediumTime' } %>
    <% if (window.util.minDiff(epochTime) < 3) { colorClass = 'littleTime' } %>
    %span{class: "<%= colorClass %>" }
      <%= window.util.minDiff(epochTime) %> min & <%= window.util.secDiff(epochTime) % 60 %> sec.

  #credits
    %em
      Design copied from
      %a{href: 'http://backbonejs.org/examples/todos/index.html'}
        BackBone TODO example app by Jérôme Gravel-Niquet.