$width: 520px;

body {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #eeeeee;
  color: #333333;
  width: $width;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
}

#upt-app {
  background: #fff;
  padding: 20px;
  margin-bottom: 40px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  -ms-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

#location {
  width: 200px;
}

#radius {
  width: 50px;
}

ul.departures {
  display: none;
}

.clickable:hover {
  cursor: pointer;
  cursor: hand;
}

.heapsOfTime {
  color: green;
}
.mediumTime {
  color: yellowgreen;
}
.littleTime {
  color: red;
}

/** Google Maps **/
#map-canvas {
  width: 100%;
  height: 200px;
}

#map-canvas-wrapper {
  background-color: white;
  position: fixed;
  width: $width - 40px;
  top: 70px;
}

#main {
  margin-top: 260px;
}

li.noDepartures {
  display: none;
}

#credits {
  margin: 30px auto;
  color: #999;
  text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
  text-align: center;
}